<h1><%= @restaurant.name %></h1>
<p> <%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<hr>

<% @restaurant.reviews.each do |review| %>
<%= review.rating %>
<br>
<%= review.content %>
<% end %>

<h3>Please Leave a New Review!</h3>
<%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
